h1 {
  color: #3F76BF;
  font-family:Helvetica;
  text-align: center;
  font-size: 102px;
  text-shadow: 0 0 20px white;
}

body {
  background-image: url("Images/somerset house.jpg");
  background-position: center;
  background-size: center;
}

button {
    background-color: #3F76BF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    display: block;
    box-shadow: 0 0 20px white;
}
