body {
  background-color: #0C326C;

}

p {
text-align: center;
font-size: 36px;
color: white;
font-family: georgia
padding: 25px;

}

.p1 {
text-align: center;
font-size: 24px;
color: white;
font-family: georgia;

}

h1 {
  font-size: 80px;
  margin: 0.5em;
  text-align: center;
  color: white;
  font-family: Helvetica;
  padding-top: 10px;
  padding-bottom: 1px;
  text-shadow: 0 0 20px white;
}

h2 {
  ont-size: 20px;
  margin: 0.5em;
  text-align: center;
  color: white;
  font-family: Helvetica;
  padding-top: 1px;
  padding-bottom: 10px;
  text-shadow: 0 0 20px white;

}

form {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: georgia;
  margin: 1em;

}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 50px;
}
